{% extends 'shop/basic.html' %}

{% block title%} About Us{% endblock %}
{% block body %}
<main role="main">
  </div> <!-- /container -->
  <div class="jumbotron container">
    <div class="row mt-4">
        <div class="col-md-8 blog-main">
            <h3 class="font-italic">
            

              My Awesome Cart!
            </h3>
            <p>Hi welcome to our website i'm Akshay Sharma i want to introduce " My Awesome Cart "E-commerce website. it is developed in Django Framwork"Django is a high-level Python web framework that encourages rapid development and clean, pragmatic design. Built by experienced developers, it takes care of much of the hassle of web development, so you can focus on writing your app without needing to reinvent the wheel. It’s free and open source."" and also use some basic HTML,CSS,JAVA SCRIPT,Bootstrep and PYTHON"Python is a high-level, interpreted, general-purpose programming language. Its design philosophy emphasizes code readability with the use of significant indentation.[32]

              Python is dynamically-typed and garbage-collected. It supports multiple programming paradigms, including structured (particularly procedural), object-oriented and functional programming. It is often described as a "batteries included" language due to its comprehensive standard library.[33][34]
              
              Guido van Rossum began working on Python in the late 1980s as a successor to the ABC programming language and first released it in 1991 as Python 0.9.0.[35] Python 2.0 was released in 2000 and introduced new features such as list comprehensions, cycle-detecting garbage collection, reference counting, and Unicode support. Python 3.0, released in 2008, was a major revision that is not completely backward-compatible with earlier versions. Python 2 was discontinued with version 2.7.18 in 2020" which makes it awesome. You can buy any products from here with secure payment and trust Hope you feel Good here plese deop your suggestion and Exprience here THANKYOU! 
  
        </div><!-- /.blog-main -->
    
        <aside class="col-md-4 blog-sidebar">
          <div class="col-md-10 mx-5">

            <div>
            
                <div class="col-auto d-none d-lg-block mx-4">
                    <img src="/media/shop/images/my img 2.jpg" class="bd-placeholder-img"  width="200" height="250"
                        aria-label="Placeholder: Thumbnail"/>
                        <strong class="d-inline-block  "><h4 class="font-italic">  Akshay Sharma </h4></strong>

                        <div class="p-2 ">
                          <h4 class="font-italic">Contact</h4>
                          <ol class="list-unstyled">
                              <li><a href="#">GitHub</a></li>
                              <li><a href="akshayshama3@gmail.com">Email</a></li>
                          </ol>
                      </div>
                  </aside><!-- /.blog-sidebar -->
          
              </div>
                </div>
            </div>
        </div>




</main>

{% endblock %}

