{% extends 'shop/basic.html' %}

{% block title%} About Us{% endblock %}
{% block body %}
<main role="main">
  </div> <!-- /container -->
  <div class="jumbotron container">
    <div class="row mt-4">
        <div class="col-md-8 blog-main">
            <h3 class="font-italic">
            

              My Awesome Cart!
            </h3>
            <p>My Awesome Cart Pvt Ltd. is an Indian electronic commerce company based in Bengaluru, India. Founded by Sachin Bansal and Binny Bansal in 2007, the company initially focused on book sales, before expanding into other product categories such as consumer electronics, fashion, and lifestyle products.

              The service competes primarily with Amazon' s Indian subsidiary, and the domestic rival Snapdeal.[5][6] as of March 2017, Flipkart held a 39.5% market share of India's e-commerce industry.[7] Flipkart is significantly dominant in the sale of apparel (a position that was bolstered by its acquisitions of Myntra and Jabong.com), and was described as being "neck and neck" with Amazon in the sale of electronics and mobile phones.[8] Flipkart also owns PhonePe, a mobile payments service based on the Unified Payments Interface (UPI).
              
              In August 2018, U.S.-based retail chain Walmart acquired a 77% controlling stake in Flipkart for US$16 billion, valuing it at $22 billion.</p>
                    <p><a class="btn btn-dark btn btn-outline-success my-2 my-sm-0 btn-lg" href="#" role="button">Learn more &raquo;</a></p>
  
        </div><!-- /.blog-main -->
    
        <aside class="col-md-4 blog-sidebar">
          <div class="col-md-10 mx-5">
            <div
                class="row no-gutters border rounded overflow-hidden flex-md-row mb-2 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                    <strong class="d-inline-block  text-primary">deceloper</strong>
                    
                </div>
                <div class="col-auto d-none d-lg-block mx-4">
                    <img src="/media/shop/images/my img 2.jpg" class="bd-placeholder-img"  width="200" height="250"
                        aria-label="Placeholder: Thumbnail"/>

                </div>
            </div>
        </div>


            <div class="p-4 mx-5">
                <h4 class="font-italic">Elsewhere</h4>
                <ol class="list-unstyled">
                    <li><a href="#">GitHub</a></li>
                    <li><a href="#">Twitter</a></li>
                    <li><a href="#">Facebook</a></li>
                </ol>
            </div>
        </aside><!-- /.blog-sidebar -->

    </div>
    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h2>Heading</h2>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
          <p><a class="btn btn-dark btn btn-outline-success my-2 my-sm-0" href="#" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <h2>Heading</h2>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
          <p><a class="btn btn-dark btn btn-outline-success my-2 my-sm-0" href="#" role="button">View details &raquo;</a></p>
        </div>
       
      </div>
</div>

</main>

{% endblock %}

